---
import { shortenCommitId } from "../../shared/utils.mjs";
import { VCPKG_REPO_URL } from "../constants.mjs";

interface Props {
  readonly class?: any;
  readonly commit: string;
  readonly type?: "commit" | "tree" | undefined;
  readonly translate?: "yes" | "no" | null | undefined;
}

const {
  class: classList,
  commit,
  type = "commit",
  translate = "no",
} = Astro.props;
const shortCommit = shortenCommitId(commit);
---

<a
  class:list={classList}
  href={`${VCPKG_REPO_URL}/${type}/${commit}`}
  target="_blank"
  rel="noreferrer"
  translate={translate}
>
  <slot>
    <code class="code" set:text={shortCommit} />
  </slot>
</a>
