---
import type { MarkdownHeading } from 'astro';
import type { PortFrontmatter } from '../../../shared/dataTypes/frontmatter.mjs';
import TableOfContents from '../TableOfContents.vue';
import MoreMenu from './MoreMenu.astro';
import PortPageMetadata from './PortPageMetadata.astro';

interface Props {
  readonly frontmatter: PortFrontmatter;
  readonly headings: readonly MarkdownHeading[];
}

const { frontmatter, headings } = Astro.props as Props;
const { portName, portVersion } = frontmatter;
---

<article
  id="article"
  class:list={['content port-page', ':uno: p-0 w-full h-full flex flex-col']}
>
  <section class=":uno: mb-8">
    <h1 id="overview">
      <span set:text={portName} />
      <span class=":uno: opacity-60 text-2xl" set:text={`v${portVersion}`} />
    </h1>
    <PortPageMetadata
      createdAt={frontmatter.createdAt}
      modifiedAt={frontmatter.modifiedAt}
    />
    <nav class:list={['toc', ':uno: block lg:hidden mt-4 mb-8']}>
      <!-- hydration is disabled as this TOC is not interactive -->
      <TableOfContents headings={headings} />
    </nav>
    <div class="rendered">
      <slot />
    </div>
    <nav class:list={['toc', ':uno: block lg:hidden mt-16']}>
      <MoreMenu />
    </nav>
  </section>
</article>
