---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Footer from '../components/footer/Footer.astro';
import Header from '../components/header/Header.astro';
import ManagedSearch from '../components/search/ManagedSearch.vue';
import { SITE_LANGUAGE_KEBAB, formatPageTitle } from '../constants.mjs';

import '../styles/main.scss';

// HACK: make CSS utils recognized by UnoCSS
import '../components/search/SearchOverlay.vue';

interface Props {
  readonly title?: string | undefined;
  readonly description?: string | undefined;
  readonly fixedHeight?: boolean | undefined;
  readonly hideSearch?: boolean | undefined;
  readonly is404?: boolean | undefined;
  readonly isHome?: boolean | undefined;
}

const { title, description, fixedHeight, hideSearch, is404, isHome } =
  Astro.props as Props;
const canonicalURL = !is404
  ? new URL(Astro.url.pathname.replace(/\.html?$/, ''), Astro.site)
  : undefined;
const formattedTitle = formatPageTitle(title);
---

<html
  class:list={fixedHeight ? 'fixed-height' : 'stable-scrollbar-gutter'}
  dir="ltr"
  lang={SITE_LANGUAGE_KEBAB}
>
  <head>
    <HeadCommon />
    {
      canonicalURL && (
        <HeadSEO
          title={title}
          description={description}
          canonicalURL={canonicalURL}
          isHome={isHome}
        />
      )
    }
    <title set:text={formattedTitle} />
  </head>

  <body>
    <Header hideSearch={hideSearch} isHome={isHome} />
    <main
      class=":uno: flex-1 w-full max-w-294 px-7 lg:px-12 pt-4 pb-10 mx-auto overflow-hidden"
    >
      <slot />
    </main>
    <Footer />
    {!hideSearch && <ManagedSearch client:only="vue" />}
  </body>
</html>
