---
import licenseInfoMap from 'spdx-license-list';
import { toUniqueArray } from '../../../../shared/utils.mjs';
import LinkExternal from '../../LinkExternal.astro';
import SectionWrapper from '../SectionWrapper.astro';
import CodeBlock from '../components/CodeBlock.astro';
import { SectionProps, defineSection } from '../defineSection.mjs';

type Props = SectionProps;

export const getSection = defineSection({
  title: 'License',
});

const {
  context: {
    manifest: { license },
    fileContents,
    inferredCopyrightURLs,
  },
  section,
} = Astro.props;

const foundLicenses = toUniqueArray(
  (license || '').split(/[()\s]/).map((l) => l.trim())
)
  .map((l) => licenseInfoMap[l])
  .filter((l) => !!l);
const licenseText = fileContents.find(([filename]) =>
  /^(copyright|license)/i.test(filename)
)?.[1];
---

<SectionWrapper section={section}>
  <p>
    {
      license ? (
        <code translate="no" set:text={license} />
      ) : (
        <em set:text={license === null ? 'Unspecified' : 'Unknown'} />
      )
    }
  </p>

  {
    !!foundLicenses.length && (
      <ul
        class:list={[
          'plain-list',
          ':uno: my-4 flex flex-col gap-y-2 leading-tight',
        ]}
      >
        {foundLicenses.map((license) => (
          <li>
            <LinkExternal
              href={license.url}
              translate={null}
              set:text={license.name}
            />
          </li>
        ))}
      </ul>
    )
  }

  {
    !!inferredCopyrightURLs.length && (
      <ul
        class:list={[
          'plain-list',
          ':uno: my-4 flex flex-col gap-y-2 leading-tight',
        ]}
      >
        {inferredCopyrightURLs.map((url) => (
          <li>
            <LinkExternal
              href={url}
              set:text={
                decodeURIComponent(url.match(/[^/]+$/)?.[0] || '') || url
              }
            />
          </li>
        ))}
      </ul>
    )
  }

  {licenseText && <CodeBlock lang="plaintext" code={licenseText.trim()} />}
</SectionWrapper>
